<?xml version="1.0"?>
<launch>

	<arg name="cam" default="1"/>

	<!-- Launch video feed launch file -->
	<!-- <include file="$(find apriltag_detection)/launch/webcam.launch">
		<arg name="cam" value="$(arg cam)"/>
	</include> -->

	<!-- Launch Tagslam -->
	<include file="$(find tagslam)/launch/tagslam.launch">
		<arg name="run_online" value="true"/>
		<arg name="data_dir"  value="$(find tagslam_webcam)/config"/>
		<arg name="config_dir"  value="$(find tagslam_webcam)/config"/>
	</include>

	<!-- Launch apriltag detector -->
	<include file="$(find tagslam)/launch/apriltag_detector_node.launch">
		<arg name="cam_topic" value="/rmcbot/camera1/image_raw/compressed"/>
	</include>

	<!-- Launch RVIZ to visualize -->
	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find tagslam_webcam)/rviz/trough_setup.rviz"/>

</launch>